/* Box Model Hack */

* {
    box-sizing: border-box;
}


/* Clear fix hack */

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}


/******************************************
/* BASE STYLES
/*******************************************/

body {
    font-family: "Mulish", sans-serif;
    background: #fff;
    color: #333;
    line-height: 1.5;
}

.liens-header {
    text-decoration: none;
    color: #212121;
    background-color: #e89a3d;
}

.liens-header:hover {
    background: #fff;
    color: #e89a3d;
    transition: .7s ease;
}

ul {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    z-index: 1!important;
}


/* Utilities Classes */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 4rem;
}

.lead-body {
    color: #737373;
    font-size: 0.9rem;
    font-weight: 300;
    letter-spacing: 0.2px;
    line-height: 2;
}

.primary-header {
    font-family: "cinzel", sans-serif;
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
}

.primary-header::after {
    content: "";
    width: 35px;
    background: black;
    display: block;
    height: 4px;
    margin: 0.5em auto 1.5em;
    border-radius: 50px;
}

.btn {
    display: inline-block;
    font-family: "Mulish", sans-serif;
    font-size: 0.9rem;
    text-transform: uppercase;
    padding: 1em;
}

.btn-dark {
    background: black;
    color: white;
}

.btn-light {
    background-color: white;
    color: black;
}

.card {
    width: 100%;
    padding: 2em;
    background: black;
    position: absolute;
    top: 77%;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.flex-competences {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 500px) {
    .container {
        padding: 0 2rem;
    }
}


/******************************************
/* LAYOUT
/*******************************************/

header {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    height: 80px;
    text-transform: uppercase;
    font-size: 0.8rem;
    position: sticky;
    top: 0px;
    z-index: 100!important;
}

.main-nav {
    width: 70%;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.list-item>a {
    padding: 1em 0.5em;
}

.handbag-item {
    position: relative;
}

.count-icon {
    position: absolute;
    top: 10px;
    left: 15px;
    font-size: 0.7rem;
    background: black;
    color: white;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    padding: 0.7em;
    display: grid;
    place-content: center;
}

@media screen and (max-width: 768px) {
    header {
        height: 130px;
    }
    .logo {
        margin: 0 auto;
    }
    .main-nav {
        width: 100%;
    }
    .nav-list {
        padding: 0;
    }
}

@media screen and (max-width: 500px) {
    header {
        height: 10rem;
        overflow: unset;
        position: relative;
        right: 1px;
        text-transform: none;
    }
    .liens-header {
        display: flex;
    }
    .logo img {
        position: relative!important;
        top: 18px!important;
        left: 0px!important;
    }
}


/* Hero Section */

.section-hero {
    position: relative;
    background-image: linear-gradient( to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)), url("images/Billy2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 37em;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.7);
}

.hours {
    position: absolute;
    top: 50%;
    right: -120px;
    transform: rotate(90deg);
    font-family: "cinzel", sans-serif;
    font-size: 1.125rem;
    font-weight: 300;
    letter-spacing: 5px;
    color: white;
    display: block;
    white-space: unset;
    text-transform: uppercase;
}

.text-content {
    position: relative;
    width: 60%;
    font-family: "cinzel", sans-serif;
    padding: 10em 0;
    color: #f1f1f1;
}

.main-header-text {
    font-family: "cinzel", sans-serif;
    font-size: 5em;
    margin: 0;
    font-weight: 300;
    line-height: 1.2;
    color: #fff;
}

.lead {
    letter-spacing: 4px;
    ;
}

@media screen and (max-width: 768px) {
    .text-content {
        width: 80%;
    }
    .main-header-text {
        font-size: 4em;
    }
    .card {
        width: 60%;
    }
    .hours {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .section-hero {
        background-image: linear-gradient( to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)), url("images/Billy4.png");
        background-position: 65% 0;
    }
    .text-content {
        padding: 5em 0;
    }
    .main-header-text {
        font-size: 2.5rem;
    }
    .card {
        display: none;
    }
}


/* Section 3-column */

.three-column {
    padding: 10em 0 5em;
}

.box {
    text-align: center;
    flex-basis: 32%;
    padding: 0 2em;
}

.box-header {
    font-family: "cinzel", sans-serif;
    font-weight: normal;
    text-transform: uppercase;
}

.img-icon {
    display: inline-block;
}

@media screen and (max-width: 768px) {
    .three-column .flex {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .box {
        flex-basis: 50%;
    }
}

@media screen and (max-width: 500px) {
    .three-column {
        padding: unset;
    }
    .three-column .flex {
        display: block;
    }
    .box {
        padding: unset;
        margin: 5em 0;
    }
}


/* Video Section */

.video-section {
    background-color: #f3f4f6;
    padding: 5em 0;
}

.video-text-content {
    flex-basis: 50%;
    padding-right: 5em;
}

.video-header {
    font-family: "cinzel", sans-serif;
    font-weight: 400;
    font-size: 3rem;
    color: #dd9031;
    font-weight: bold;
}

.video-body {
    margin-bottom: 2em;
}

.video-image-box {
    position: relative;
    display: flex;
    align-items: center;
}

.play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 768px) {
    .video-header {
        font-size: 2rem;
    }
    .video-text-content {
        flex-basis: 90%;
        padding-right: 1em;
    }
    .play-icon {
        width: 4rem;
    }
}

@media (max-width: 500px) {
    .video-section .flex {
        flex-direction: column;
    }
    .video-text-content {
        padding-right: unset;
        margin-bottom: 2em;
    }
    .video-header {
        font-size: 1.5rem;
    }
}


/* Stylers And Promo Section */


/* Lookbook Section */


/* Footer Section */


/******************************************
/* ADDITIONAL STYLES
/*******************************************/


/*DEBUT  CSS DE LA PARTIE MES PROJETS*/

.wrap {
    margin: 50px auto 0 auto;
    width: 100%;
    display: flex;
    align-items: space-around;
    max-width: 1200px;
}

.tile {
    width: 380px;
    height: 380px;
    margin: 10px;
    background-color: #000000;
    display: inline-block;
    background-size: cover;
    position: relative;
    /* cursor: pointer; */
    transition: all 0.4s ease-out;
    box-shadow: 0px 35px 77px -17px rgba(0, 0, 0, 0.44);
    overflow: hidden;
    color: white;
    font-family: 'Roboto';
}

.tile img {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    transition: all 0.4s ease-out;
}

.tile .text {
    /*   z-index:99; */
    position: absolute;
    padding: 30px;
    height: calc(100% - 60px);
}

.tile h1 {
    font-weight: 300;
    margin: 0;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.tile h2 {
    font-weight: 100;
    margin: 20px 0 0 0;
    text-transform: none;
    color: #e89a3d;
    /* font-style: italic; */
    transform: translateX(200px);
}

.tile p {
    font-weight: 300;
    margin: 20px 0 0 0;
    line-height: 25px;
    /*   opacity:0; */
    transform: translateX(-200px);
    transition-delay: 0.2s;
}

.animate-text {
    opacity: 0;
    transition: all 0.6s ease-in-out;
}

.tile:hover {
    /*   background-color:#99aeff; */
    box-shadow: 0px 35px 77px -17px rgba(0, 0, 0, 0.64);
    transform: scale(1.05);
}

.tile:hover img {
    opacity: 0.2;
}

.tile:hover .animate-text {
    transform: translateX(0);
    opacity: 1;
}

.dots {
    position: absolute;
    bottom: 20px;
    right: 30px;
    margin: 0 auto;
    width: 30px;
    height: 30px;
    color: currentColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.dots span {
    width: 5px;
    height: 5px;
    background-color: currentColor;
    border-radius: 50%;
    display: block;
    opacity: 0;
    transition: transform 0.4s ease-out, opacity 0.5s ease;
    transform: translateY(30px);
}

.tile:hover span {
    opacity: 1;
    transform: translateY(0px);
}

.dots span:nth-child(1) {
    transition-delay: 0.05s;
}

.dots span:nth-child(2) {
    transition-delay: 0.1s;
}

.dots span:nth-child(3) {
    transition-delay: 0.15s;
}

@media (max-width: 1000px) {
    .wrap {
        flex-direction: column;
        width: 400px;
    }
}


/*FIN  CSS DE LA PARTIE MES PROJETS*/


/*DEBUT CSS DE LA PARTIE COMPETENCES*/


/*FIN CSS DE LA PARTIE COMPETENCES*/


/*DEBUT SCROLL TOP*/

 ::-webkit-scrollbar {
    background: #000000;
    height: 5px;
    width: 5px;
}

 ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px #000000;
}

 ::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 2px;
}

 ::-webkit-scrollbar-thumb:hover {
    background: #e89a3d;
}

.wrapper {
    border: 1px solid #000000;
    height: calc(100vh - 2px);
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    width: calc(100vw - 2.55px);
}

.scroll-top {
    background: #fff;
    border: 0;
    border-radius: 50%;
    bottom: 0;
    cursor: pointer;
    height: 50px;
    margin: 15px;
    opacity: 0.75;
    position: fixed;
    right: -70px;
    transition: right 0.7s ease-in-out;
    width: 50px;
    z-index: 99;
}

.scroll-top.visible {
    right: 0;
}

.arrow {
    border: solid #000000;
    border-width: 0 3px 3px 0;
    display: inline-block;
    margin-top: 5px;
    padding: 4px;
}

.arrow.up {
    transform: rotate(-135deg);
}


/*FIN SCROLL TOP*/


/*DEBUT CSS DE LA PARTIE FOOTER*/

a {
    text-decoration: none;
}

.pg-footer {
    font-family: 'Roboto', sans-serif;
    position: relative;
    top: 20px;
}

.footer {
    background-color: #212121;
    color: #fff;
}

.footer-wave-svg {
    background-color: transparent;
    display: block;
    height: 30px;
    position: relative;
    top: -1px;
    width: 100%;
}

.footer-wave-path {
    fill: #e89a3d;
}

.footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 450px;
    position: relative;
}

.footer-content-column {
    box-sizing: border-box;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    color: #fff;
}

.footer-content-column ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-logo-link {
    display: inline-block;
}

.footer-menu {
    margin-top: 30px;
}

.footer-menu-name {
    color: #fffff2;
    font-size: 15px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
}

.footer-menu-list {
    list-style: none;
    margin-bottom: 0;
    margin-top: 10px;
    padding-left: 0;
}

.footer-menu-list li {
    margin-top: 5px;
}

.footer-call-to-action-description {
    color: #fffff2;
    margin-top: 10px;
    margin-bottom: 20px;
}

.footer-call-to-action-button:hover {
    background-color: #fffff2;
    color: #00bef0;
}

.button:last-of-type {
    margin-right: 0;
}

.footer-call-to-action-button {
    background-color: #e89a3d;
    border-radius: 21px;
    color: #fffff2;
    display: inline-block;
    font-size: 11px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    padding: 12px 30px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color .2s;
    cursor: pointer;
    position: relative;
}

.footer-call-to-action {
    margin-top: 30px;
}

.footer-call-to-action-title {
    color: #fffff2;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
}

.footer-call-to-action-link-wrapper {
    margin-bottom: 0;
    margin-top: 10px;
    color: #fff;
    text-decoration: none;
}

.footer-call-to-action-link-wrapper a {
    color: #fff;
    text-decoration: none;
}

.footer-social-links {
    bottom: 0;
    height: 54px;
    position: absolute;
    right: 0;
    width: 236px;
}

.footer-social-amoeba-svg {
    height: 54px;
    left: 0;
    display: block;
    position: absolute;
    top: 0;
    width: 236px;
}

.footer-social-amoeba-path {
    fill: #e89a3d;
}

.footer-social-link.linkedin {
    height: 26px;
    left: 3px;
    top: 11px;
    width: 48px;
}

.footer-social-link {
    display: block;
    padding: 10px;
    position: absolute;
}

.hidden-link-text {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
    top: 50%;
}

.footer-social-icon-svg {
    display: block;
}

.footer-social-icon-path {
    fill: #fffff2;
    transition: fill .2s;
}

.footer-social-link.twitter {
    height: 28px;
    left: 62px;
    top: 3px;
    width: 48px;
}

.footer-social-link.youtube {
    height: 24px;
    left: 123px;
    top: 12px;
    width: 48px;
}

.footer-social-link.github {
    height: 34px;
    left: 172px;
    top: 7px;
    width: 52px;
}

.footer-copyright {
    background-color: #e89a3d;
    color: #fff;
    padding: 15px 30px;
    text-align: center;
}

.footer-copyright-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.footer-copyright-text {
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
}

.footer-copyright-link {
    color: #fff;
    text-decoration: none;
}


/* Media Query For different screens */

@media (min-width:320px) and (max-width:479px) {
    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
    .footer-content {
        margin-left: auto;
        margin-right: auto;
        max-width: 1230px;
        padding: 40px 15px 1050px;
        position: relative;
    }
    .maps {
        /* display: none; */
        width: 330px;
        position: relative;
        left: 10px;
    }
    /* .scroll-top {
        right: 90px !important;
    } */
    .logo img {
        height: 3rem;
        width: 3rem;
        border-radius: 40px;
        position: relative;
        top: 18px;
        left: 18px;
    }
}

@media (min-width:480px) and (max-width:599px) {
    /* smartphones, Android phones, landscape iPhone */
    .footer-content {
        margin-left: auto;
        margin-right: auto;
        max-width: 1230px;
        padding: 40px 15px 1050px;
        position: relative;
    }
}

@media (min-width:600px) and (max-width: 800px) {
    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
    .footer-content {
        margin-left: auto;
        margin-right: auto;
        max-width: 1230px;
        padding: 40px 15px 1050px;
        position: relative;
    }
}

@media (min-width:801px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
}

@media (min-width:1025px) {
    /* big landscape tablets, laptops, and desktops */
}

@media (min-width:1281px) {
    /* hi-res laptops and desktops */
}

@media (min-width: 760px) {
    .footer-content {
        margin-left: auto;
        margin-right: auto;
        max-width: 1230px;
        padding: 40px 15px 450px;
        position: relative;
    }
    .footer-wave-svg {
        height: 50px;
    }
    .footer-content-column {
        width: 24.99%;
    }
}

@media (min-width: 568px) {
    /* .footer-content-column {
        width: 49.99%;
    } */
}


/* MAPS LOCALISATION */

.maps {
    height: 350px;
    width: 280px;
    position: relative;
    right: 90px;
}


/*FIN  CSS DE LA PARTIE FOOTER*/


/*DEBUT CSS DE LA PARTIE CHAT*/


/*FIN CSS DE LA PARTIE CHAT*/